{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>
<body>
        <form action="." method="post">
         {% csrf_token %}
            <h2>Login</h2>
            <div class="login-form">
                <label for="userType">Login As</label>
                <select id="usertype">
                    <option value="business">Business</option>
                    <option value="customer">Customer</option>
                </select>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="remember-forgot">
    <label><input type="checkbox">Remember Me</label>
    <a href="#">Forgot password?</a>
</div>
            <button type="submit">Login</button>
        </form>
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url 'signup'%}">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
