{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>eProx homepage</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        
                        
                        <li class="nav-item"><a class="nav-link" href="{%url 'login' %}">login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'logout' %}">logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'regproduct'%}">add product</a></li>
                       
                       
                    </ul>
                    <form method = 'POST' action=" {% url 'search'%}" class="d-flex d-flex primary" role="search">
                        {% csrf_token %}
                      <input class="form-control me-2" type="search" placeholder="Search Products" name="searched">
                      <button class="btn btn-outline-primary" type="submit">Search</button>
                  </form>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome to eProx!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#categories">More info</a>
            </div>
        </header>
        
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="categories">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">categories</h2>
                    
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item **-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'furniture' %}">
                                <div class="categories-hover">
                                   
                                </div>
                                <img class="img-fluid" src="{% static  'images/furniture.jpg' %}" alt="..." />
                                
                            </a>
                            <div class="categories-caption">
                               <a href="{%url 'product' %}">All Products</a>
                                <div class="categories-caption-subheading text-muted">amazing deals on furniture products</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'fashion' %}">
                                <div class="categories">
                                    
                                </div>
                                <img class="img-fluid" src="{% static  'images/menswear.jpg' %}" alt="..." />
                            </a>
                            <div class="categories">
                                <a href="{%url 'category' 'Fashion' %}">Fashion</a>
                                <div class="categories-subheading text-muted">trousers and shoes</div> 
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'furniture' %}">
                                <div class="categories-hover">
                                   
                                </div>
                                <img class="img-fluid" src="{% static  'images/furniture.jpg' %}" alt="..." />
                                
                            </a>
                            <div class="categories-caption">
                               <a href="{%url 'category' 'Furniture' %}">Furniture</a>
                                <div class="categories-caption-subheading text-muted">amazing deals on furniture products</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'kitchen-ware' %}">
                                <div class="categories-hover">
                                   
                                </div>
                                <img class="img-fluid" src="{% static  'images/kitchen.jpg' %}" alt="..." />
                                
                            </a>
                            <div class="categories-caption">
                                <a href="{%url 'category' 'Kitchen-Ware' %}">Kitchen Ware</a>
                                <div class="categories-caption-subheading text-muted">Kitchen setups</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'automative' %}">
                                <div class="categories-hover">
                                    
                                </div>
                                <img class="img-fluid" src="{% static  'images/automative.jpg' %}" alt="..." />
                            </a>
                            <div class="categories-caption">
                                <a href="{%url 'category' 'Automative' %}">Automative</a>
                                <div class="categorieso-caption-subheading text-muted">best auto deals</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'electronics' %}">
                                
                                <img class="img-fluid" src="{% static  'images/electronics.jpg' %}" alt="..." />
                            </a>
                            <div class="categories-caption">
                                <a href="{%url 'category' 'Electronics' %}">Electronics</a>
                                <div class="categories-caption-subheading text-muted">best appliances</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="categories-item">
                            <a class="categories-link" data-bs-toggle="modal" href="{%url 'category' 'sports' %}">
                                
                                   
                               
                                <img class="img-fluid" src="{% static  'images/sports.jpg' %}" alt="..." />
                            </a>
                            <div class="categorieso-caption">
                                <a href="{%url 'category' 'Sports' %}">Sports</a>
                                <div class="categories-caption-subheading text-muted">gym equipments available</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        
        
       
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; eProx 2024</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
