{% load static %}
<!-- this is the navbar template -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="{% static 'images/logo.jpeg'%}" style="width: 5vw; min-width: 6px;"> 
    <a class="navbar-brand">Eprox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="form-inline my-2 my-lg-0">
        <a href="{% url 'login'%}"class="btn btn-warning">Login</a>
      
        <!-- this is the login button that is next to the cart -->
        <a href="{% url 'cart' %}">
           <img  id="cart-icon" src="{% static 'images/shopping-cart.png' %}" style="width: 50vw; min-width: 50px;">
        </a>
        <p id="cart-total">0</p>

        </div>
    </div>
</nav>