{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href=" {%static 'css/products.css'%} " rel="stylesheet" />

        <script type="text/javascript">
            var user = '{{request.user}}'
        
            
            function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
              var cookies = document.cookie.split(';')
              for (var i = 0; i < cookies.length; i++){
                var cookie = cookies[i].trim();
                //Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length+1) === (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(
                    name.length + 1));
                    break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getToken('csrftoken');
        </script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" class="btn btn-primary"cd href="{% url 'home' %}">Home</a></li>
                      
                        
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                           <a class="btn btn-outline-dark mt-auto" href="{% url 'cart' %}">Cart</a>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">All your products here.......</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Shop in style with eProx</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    {% for product in products %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{product.picture.url}}" alt="..." style="width: 100%; height: 180px;object-fit: contain;" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        {{product.name}}
                                        <h5 class="fw-bolder"></h5>
                                        <!-- Product price-->
                                        Shs.{{product.price}}
                                        
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'productcard' product.id %}">View Product</a></div>
                                    {% comment %} <div><button data-product="{{product.id}}" data-action="add" class="btn btn-outline-dark mt-auto add-btn update-cart">Add to Chart</button></div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-warning">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; eProx 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/cart.js' %}"></script>
    </body>
</html>
