
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script type="text/javascript">
            var user = '{{request.user}}'
        
            
            function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
              var cookies = document.cookie.split(';')
              for (var i = 0; i < cookies.length; i++){
                var cookie = cookies[i].trim();
                //Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length+1) === (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(
                    name.length + 1));
                    break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getToken('csrftoken');
        </script>
    </head>
    <body>
    
    <div class = container>
            <center>
            <div class="card" style="width:30%">
        <img src="{{product.picture.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
                Shs.{{product.price}} 
            <p class="card-text">{{product.description}}</p>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-dark mt-auto add-btn update-cart">Add to Cart</button> 
            <a href="{% url 'product' %}" class="btn btn-primary">BACK</a>
        </div>
        </div>
            </center>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</html>
