{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Registration Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'css/productreg.css' %}" rel="stylesheet" />

</head>
<body>
    <header>
        <h1>Product Registration Dashboard</h1>
    </header>
    <a href="{% url 'home'%}" class="btn btn-success">HOME</a>

    <main>
        <form action=" " method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <label for="productName">Product Name:</label>
            {{form.name}}

            <label for="productName">Product Picture:</label>
            {{form.picture}}

            <label for="productcategory">Product Category:</label>
            {{form.category}}

            <label for="productDescription">Product Description:</label>
            {{form.description}}

            <label for="productPrice">Product Price:</label>
            {{form.price}}

            <button type="submit" >Register Product</button>
        </form>
    </main>

    <script>
        function registerProduct() {
            // You would typically use JavaScript to handle form submission and interact with the server.
            // In a real-world scenario, you would use AJAX or fetch to send data to the server.
            alert('Product registration functionality to be implemented.');
        }
    </script>
</body>
</html>

           