{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    
</head>
<body>
    <div class="container">
        <form action="." method="post">
        {% csrf_token %}
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                 {{form.username}}
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                {{form.password1}}
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                {{form.password2}}
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>

